#Ignore files build by Maven and IDEA

target
*.iml
**/.idea

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/

*/bin/*
*/obj/*
*/packages/*
*.user
*.opendb
*.ipch
/packages/
!packages/repositories.config
/TransitTestProject/_TestData/01_Sad
/TransitTestProject/_TestData/02_CloseInfo/RNTS_SimpleCloseInfo.xml_obj1.xml
/TransitTestProject/_TestData/06_AdministrativeViolationsCase
/TransitTestProject/_TestData/19_RWInquiry
/TransitTestProject/_TestData/26_DocInquiry
/TransitTestProject/_TestData/31_Certificates
/TransitTestProject/_TestData/04_ReportInquiry/PeerTest_obj1.xml 
/TransitTestProject/_TestData/04_ReportInquiry/PeerTest_obj2.xml 
/TransitTestProject/_TestData/04_ReportInquiry/PeerTest_obj3.xml 
/TransitTestProject/_TestData/14_RW/RWInquiry.xml 
/TransitTestProject/_TestData/08_AdministrativeViolationsCase_Status 
/TransitTestProject/_TestData/02_CloseInfo
/TransitTestProject/_TestData/27_RouteInfo
/TransitTestProject/_TestData/03_OperationStatus
/TransitTestProject/_TestData/09_UniversalRelief
/TransitTestProject/_TestData/10_SelectInquiry
/TransitTestProject/_TestData/11_TDPreviousDocument
/TransitTestProject/_TestData/42_ExternalTransitDocs
/TransitTestProject/_TestData/08_Clone
/TransitTestProject/_TestData/05_SuspensionInfo
/TransitTestProject/_TestData/07_AdministrativeViolationsCase_Pays
/TransitTestProject/_TestData/Test
/TransitTestProject/_TestData/41_ExternalDocs
/TransitTestProject/_TestData/40_AddCustomerRegRefusal
/TransitTestProject/_TestData/39_GuaranteeContractAddition
/TransitTestProject/_TestData/36_SimpleMDPLight
/TransitTestProject/_TestData/32_TransitDateLimit
/TransitTestProject/_TestData/29_RightDocsOrder/_23_Registered.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_23_Registered.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_22_Suspensions.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_22_Suspensions.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_21_ReliefOfControl.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_21_ReliefOfControl.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_20_NewDateLimit_WrongOrder.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_20_NewDateLimit_WrongOrder.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_19_CloseInfoWithAppliedStatuses_WrongOrder.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_19_CloseInfoWithAppliedStatuses_WrongOrder.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_18_CloseInfoWithAppliedStatuses.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_18_CloseInfoWithAppliedStatuses.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_17_TransitDateLimit.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_17_TransitDateLimit.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_16_Routes_Suspension.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_16_Routes_Suspension.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_15_PreInfo.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_15_PreInfo.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_14_PreInfo.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_14_PreInfo.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_13_Route.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_13_Route.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_12_Undelivering.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_12_Undelivering.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_11_RealInvalidOrder.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_11_RealInvalidOrder.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_10_UGSD.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_10_UGSD.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_09_RGDInquiry.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_09_RGDInquiry.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_08_AvcAndPays.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_08_AvcAndPays.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_07_OneDeclaration.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_07_OneDeclaration.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_06_AllOperations.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_06_AllOperations.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_05_ValidatedOpenAndClose.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_05_ValidatedOpenAndClose.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_04_OldSuspensionWithoutRefDocID.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_04_OldSuspensionWithoutRefDocID.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_03_OldSuspensionWithoutRefDocID.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_03_OldSuspensionWithoutRefDocID.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_02_OldSuspensionWithoutRefDocID.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_02_OldSuspensionWithoutRefDocID.xml
/TransitTestProject/_TestData/29_RightDocsOrder/_01_EDContainer.xml2
/TransitTestProject/_TestData/29_RightDocsOrder/_01_EDContainer.xml
/TransitTestProject/_TestData/21_CreateOnPreInfo/11_RegistrationRefusalReason_Res.xml
/TransitTestProject/_TestData/21_CreateOnPreInfo/10_RegistrationInfo_Res.xml
/TransitTestProject/_TestData/21_CreateOnPreInfo/09_IssueRefusalReason_Res.xml
/TransitTestProject/_TestData/21_CreateOnPreInfo/08_1-2-3_1-2-3_1-2-3_Res.xml
/TransitTestProject/_TestData/21_CreateOnPreInfo/07_1-2-3_4-5-6_7-8-9_Res.xml
/TransitTestProject/_TestData/21_CreateOnPreInfo/06_1-2-3_1-2_Res.xml
/TransitTestProject/_TestData/21_CreateOnPreInfo/05_1-2-3_7-8_Res.xml
/TransitTestProject/_TestData/21_CreateOnPreInfo/04_1-2-3_1-2_Res.xml
/TransitTestProject/_TestData/21_CreateOnPreInfo/03_1-2-3_7-8_Res.xml
/TransitTestProject/_TestData/21_CreateOnPreInfo/02_1-2-2_1-5_Res.xml
/TransitTestProject/_TestData/21_CreateOnPreInfo/01_1-2-3_4-5_Res.xml
/TransitTestProject/_TestData/13_ImportFromFile/ESADout_4_6_0_Res.xml
/TransitTestProject/_TestData/13_ImportFromFile/ESADout_4_2_0_Res.xml
/TransitTestProject/_TestData/13_ImportFromFile/ESADout_4_1_0_Res.xml
/TransitTestProject/_TestData/13_ImportFromFile/ESADout_4_0_1_Res.xml
/TransitTestProject/_TestData/08_Clone/RNTS_TransitDeclaration_Clone.xml
/TransitTestProject/_TestData/16_EDContainers/02_EDContainer_1res_1doc_1route_2.xml
/TransitTestProject/_TestData/16_EDContainers/03_EDContainer_1res_1doc_2route_2.xml
/TransitTestProject/_TestData/16_EDContainers/04_EDContainer_1res_1doc_2.xml
/Test/DeclChangeDecisionTestProject/Data/out.xml
/.cr
